body {
  margin: 0;
  padding: 0;
}

#navbar-background {
  background-color: #413d36;
  border-radius: 5px;
}

#auth {
  background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Vfv9BDZagiltwcyiq/road-tunnel-ride-travel-transportation-highway-and-logistics-background-loop_rw2wzzg8__F0000.png);
  height: 100vh;
}

#auth-box {
  background-color: #413d36;
  border-radius: 5px;
  width: 25%;
  margin-top: 100px;
}

#error-box {
  background-color: #ead582;
  border-radius: 5px;
  width: 25%;
}

#error-h2 {
  color: black;
}

#logo-div {
  background-color: #ead582;
  font-family: 'Playball', cursive;
}

#logo-h1 {
  font-family: 'Playball', cursive;
  color: black;
  font-size: 30px;
}

#forgot-password {
  color: white
}
