body {
  margin: 0;
  padding: 0;
}

#navbar-background {
  background-color: #242424;
  border-radius: 5px;
}

#login {
  background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Vfv9BDZagiltwcyiq/road-tunnel-ride-travel-transportation-highway-and-logistics-background-loop_rw2wzzg8__F0000.png);
  height: 100vh;
}

#login-box {
  background-color: #3c3c3c;
  border-radius: 5px;
}

#reset {
  background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Vfv9BDZagiltwcyiq/road-tunnel-ride-travel-transportation-highway-and-logistics-background-loop_rw2wzzg8__F0000.png);
  height: 100vh;
}

#reset-box {
  background-color: #3c3c3c;
  border-radius: 5px;
}

#signup {
  background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Vfv9BDZagiltwcyiq/road-tunnel-ride-travel-transportation-highway-and-logistics-background-loop_rw2wzzg8__F0000.png);
  height: 100vh;
}

#signup-box {
  background-color: #3c3c3c;
  border-radius: 5px;
}

#error-box {
  background-color: maroon;
  border-radius: 5px;
}
